*{
  font-family: 'Stylish', sans-serif;
}

ul{
  display: flex;
  list-style: none;
  padding: 1em;
  flex-direction: row;
  box-shadow: 2px 2px 10px rgb(209, 211, 212);
}

ul li{
  margin: 0 1em;
  font-size: 1em;
  color: rgb(11, 11, 66);
  text-decoration: none; 
}

a{
  text-decoration: none;
}

p{
  text-align: center;
}

.active_styles{
  border: 1px solid rgb(217, 218, 223);
  padding: 3px 8px;
  border-radius: 5px;
}

h1{
  text-align: center;
}

div li{
  margin: 0 1em;
  font-size: 1em;
  color: rgb(11, 11, 66);
  text-align: center;
}